# Зависимости
node_modules/
npm-debug.log
yarn-error.log

# Переменные окружения
.env

# Кеш и временные файлы
.wwebjs_auth/
.wwebjs_cache/
.tmp/
.DS_Store

# Логи
logs/
*.log

# Файлы сессий и cookies
src/cookies.json
cookies.json
*.session.json